<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/x-javascript .js
    AddType application/vnd.ms-fontobject .eot
    AddType image/x-icon .ico
    AddType image/webp .webp
    AddType application/json .json
    AddType application/x-font-otf .otf
    AddType application/vnd.ms-opentype ._otf
    AddType image/png .png
    AddType image/svg+xml .svg .svgz
    AddType application/x-font-ttf .ttf .ttc
    AddType application/vnd.ms-opentype ._ttf
    AddType application/font-woff .woff
    AddType application/font-woff2 .woff2
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css A31536000
    ExpiresByType application/x-javascript A31536000
    ExpiresByType text/javascript A31536000
    ExpiresByType text/x-js A31536000
    ExpiresByType application/vnd.ms-fontobject A31536000
    ExpiresByType image/x-icon A31536000
    ExpiresByType image/webp A31536000
    ExpiresByType application/json A31536000
    ExpiresByType application/x-font-otf A31536000
    ExpiresByType application/vnd.ms-opentype A31536000
    ExpiresByType image/png A31536000
    ExpiresByType image/svg+xml A31536000
    ExpiresByType application/x-font-ttf A31536000
    ExpiresByType application/vnd.ms-opentype A31536000
    ExpiresByType application/font-woff A31536000
    ExpiresByType application/font-woff2 A31536000
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/css application/x-javascript application/javascript text/javascript text/x-js text/html application/vnd.ms-fontobject image/x-icon application/json application/x-font-otf application/vnd.ms-opentype image/svg+xml application/x-font-ttf application/vnd.ms-opentype application/font-woff application/font-woff2

    <IfModule mod_mime.c>
        AddOutputFilter DEFLATE js css htm html xml
    </IfModule>
</IfModule>

<FilesMatch "\.(css|js|CSS|JS)$">
    FileETag MTime Size

    <IfModule mod_headers.c>
        Header set Pragma "public"
        Header append Cache-Control "public"
        Header unset Set-Cookie
    </IfModule>
</FilesMatch>

<FilesMatch "\.(html|HTML)$">
    FileETag MTime Size

    <IfModule mod_headers.c>
        Header set Pragma "public"
        Header set Cache-Control "max-age=3600, public"
    </IfModule>
</FilesMatch>

<FilesMatch "\.(eot|ico|jpg|jpeg|jpe|webp|json|otf|_otf|png|svg|svgz|swf|ttf|ttc|_ttf|woff|woff2|EOT|ICO|JPG|JPEG|JPE|WEBP|JSON|OTF|_OTF|PNG|SVG|SVGZ|SWF|TTF|TTC|_TTF|WOFF|WOFF2)$">
    FileETag MTime Size

    <IfModule mod_headers.c>
        Header set Pragma "public"
        Header append Cache-Control "public"
        Header unset Set-Cookie
    </IfModule>
</FilesMatch>

<FilesMatch "\.(eot|ico|json|otf|_otf|svg|svgz|ttf|ttc|_ttf|woff|woff2|EOT|ICO|JSON|OTF|_OTF|SVG|SVGZ|TTF|TTC|_TTF|WOFF|WOFF2)$">
    <IfModule mod_headers.c>
         Header unset Last-Modified
    </IfModule>
</FilesMatch>

<IfModule mod_headers.c>
    Header set Referrer-Policy "no-referrer-when-downgrade"
</IfModule>

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]
</IfModule>
