{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-idiomatic-order",
    "stylelint-prettier/recommended"
  ],
  "customSyntax": "postcss-styled-syntax",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "no-empty-source": null
  }
}
